<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> yhaojun.site <br><br>
	 <img src="https://static.dy208.cn/o_1dfilp8ruo521thr1hvf18ji17soa.png"><a href="http://www.beian.miit.gov.cn/"  style="color:#f72b07" target="_blank">粤ICP备18095074号</a><br>
      <!-- <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a> -->
    </div>
  </div>
</footer>
